.heading{

    color: #DCD7C9;
    text-align: center;


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    background-color:#2C3639 ;

}

.links{
    color: #A27B5C;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}
a{
    color: #A27B5C;
}